ion-content {
    --ion-background-color: #d1d2d4;
}

.wrapContent {
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg-img {
    padding: 1px;
    height: 100%;
    width: 100%;
    //background-color: red;
    background-image: url("../../assets/images/background-home.jpg");
    //background-repeat: repeat-y;
    background-size: cover;
}

.add-button {
    --background: #383a3e;
    position: absolute;
    bottom: 5px;
    width: 96%;
    --color: #ffffff;
    margin-left: 2%;
}